<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- Include required JS files -->
    <script type="text/javascript" src="{{ ASSET_PATH }}/syntaxhighlighter/scripts/shCore.js"></script>
 
    <!--
    At least one brush, here we choose JS. You need to include a brush for every 
    language you want to highlight
    -->
    <script type="text/javascript" src="{{ ASSET_PATH }}/syntaxhighlighter/scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/syntaxhighlighter/scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/syntaxhighlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/syntaxhighlighter/scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/syntaxhighlighter/scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/syntaxhighlighter/scripts/shBrushDiff.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/syntaxhighlighter/scripts/shBrushCpp.js"></script>
 
    <!-- Include *at least* the core style and default theme -->
    <link href="{{ ASSET_PATH }}/syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css" />
    <link href="{{ ASSET_PATH }}/syntaxhighlighter/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
 
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} {{ site.time | date: '%Y' }}
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>
  </body>
</html>
